body {
	/*Box model stuff*/
	margin: 0;
	padding: 0;
	background-color: black;
	/*Typography stuff*/
	color: white;
}

.container {
	/*Box model stuff*/
	width: 550px;
	margin: 50px auto;
	border-radius: 8px;
	background-color: #1f2937;
	/*Typography stuff*/
	font-family: "Karla";
	/*Miscellaneous*/
	padding-block: 1.5em;
}

h1 {
	/*Box model stuff*/
	margin: 0;
	/*Typography stuff*/
	font-family: "Karla";
	font-size: 40px;
	font-weight: 800;
	/*Miscellaneous*/
	user-select: none;
	line-height: 40px;
	letter-spacing: -0.025em;
}

h2 {
	/*Box model stuff*/
	margin: 10px 0 51px 0;
	/*Typography stuff*/
	font-family: "Inter";
	font-size: 20px;
	font-weight: 400;
	color: #d5d4d8;
	/*Miscellaneous*/
	user-select: none;
	line-height: 20px;
}

h3 {
	/*Box model stuff*/
	margin: 10px auto;
	/*Typography stuff*/
	font-family: "Inter";
	font-size: 15px;
	font-weight: 400;
	text-align: center;
	color: #d5d4d8;
	/*Miscellaneous*/
	user-select: none;
	line-height: 15px;
}

.green-text {
	/*Typography stuff*/
	color: #4adf86;
}

.center-block {
	/*Typography stuff*/
	text-align: center;
}

.left-text {
	/*Display stuff*/
	display: inline-block;
	/*Typography stuff*/
	text-align: left;
}

input[type="number"] {
	/*Box model stuff*/
	width: 34px;
	border: 1px solid #d5d4d8;
	border-radius: 4px;
	background-color: #1f2937;
	/*Typography stuff*/
	color: #d5d4d8;
	/*Miscellaneous*/
	caret-color: transparent;
}

input[type="number"]:focus {
	/*Box model stuff*/
	outline: none;
}

input[type="number"]::selection {
	/*Box model stuff*/
	background-color: #1f2937;
	/*Typography stuff*/
	color: #d5d4d8;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	/*Manipulations stuff*/
	opacity: 1;
}

#generate-btn {
	/*Display stuff*/
	display: flex;
	flex-direction: row;
	/*Box model stuff*/
	margin: 10px auto 0;
	padding: 12px 17px 12px 15px;
	border: none;
	border-radius: 6px;
	background-color: #10b981;
	/*Typography stuff*/
	font-family: "Inter";
	font-size: 16px;
	font-weight: 500;
	color: white;
	/*Miscellaneous*/
	user-select: none;
	line-height: 16px;
}

#generate-btn:hover {
	/*Box model stuff*/
	background: #14ce90;
	/*Miscellaneous*/
	cursor: pointer;
}

#generate-btn:active {
	/*Box model stuff*/
	background: #10b981;
}

.divide-line {
	/*Box model stuff*/
	width: 446px;
	margin: 25px auto 0px auto;
	border: 1px solid #2f3e53;
}

.random-passwords {
	/*Display stuff*/
	display: flex;
	justify-content: center;
	/*Box model stuff*/
	margin-bottom: 24px;
	/*Miscellaneous*/
	gap: 24px;
}

.password-1-3,
.password-2-4 {
	/*Box model stuff*/
	width: 211px;
	height: 39px;
	border-radius: 6px;
	background-color: #273549;
	/*Typography stuff*/
	font-family: "Inter";
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	color: #55f991;
	/*Miscellaneous*/
	user-select: none;
	line-height: 39px;
}

#password1:hover,
#password2:hover,
#password3:hover,
#password4:hover {
	/*Box model stuff*/
	background-color: #32445c;
	/*Miscellaneous*/
	cursor: pointer;
}

#password1:active,
#password2:active,
#password3:active,
#password4:active {
	/*Box model stuff*/
	background-color: #273549;
	/*Miscellaneous*/
	cursor: pointer;
}

#less-margin {
	/*Box model stuff*/
	margin-bottom: 8px;
}
