*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: black;
	color: white;
	padding: 5rem 1.5rem;
}

/* FLEX PROPERTIES */
.flex {
	display: flex;
}
.flex_center_h {
	justify-content: center;
}
.flex_center_v {
	align-items: center;
}

/* CONTENT WRAPPERS */
.wrapper {
	background: #1f2937;
	border-radius: 0.2rem;
	font-family: 'Karla', sans-serif;
	margin: 0 auto;
	max-width: 100%;
	padding: 6rem 1.5em;
	width: 550px;
}
.wrapper_inner {
	margin: 0 auto;
	width: fit-content;
}

/* HEADLINE */
h1 {
	font-family: 'Karla';
	font-size: 40px;
	font-weight: 800;
	letter-spacing: -2.5%;
	line-height: 40px;
}
h1 span {
	color: #4adf86;
}
.text_sub_header {
	color: #d5d4d8;
	font-family: 'Inter';
	font-size: 20px;
	font-weight: 400;
	line-height: 28px;
	margin: 10px 0 50px;
}

/* INPUT FOR PASSWORD LENGTH */
input[type='number'] {
	background-color: transparent;
	border: 1px solid #d5d4d8;
	color: #ffffff;
	height: 1.5rem;
	margin-left: 0.6rem;
	padding-inline: 0.4rem 0.1rem;
	width: 3rem;
}
input[type='number']:focus {
	outline: none;
}
/* FOR GOOGLE CHROME */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	opacity: 1;
}

#generate_pw_btn {
	background: #10b981;
	border-radius: 6px;
	border: none;
	color: #ffffff;
	cursor: pointer;
	display: block;
	font-family: 'Inter';
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	margin: 10px auto 35px;
	padding: 9px 16px;
}
#generate_pw_btn:hover {
	background: #14d393;
}

.divider {
	/*Box model stuff*/
	border: 1px solid #2f3e53;
	margin: 35px auto 30px;
	width: 100%;
}

/* PASSWORD CONTAINERS */
.text_center {
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 2rem;
	text-align: center;
}

.pw_container_wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
	justify-content: center;
}

.pw_container_wrapper:not(:last-of-type) {
	margin-bottom: 24px;
}

.pw_container {
	background-color: #273549;
	border-radius: 6px;
	padding: 4px 8px;
	width: 210px;
}
.pw_container:hover {
	background-color: #32445c;
	cursor: pointer;
}
.pw_container p {
	color: #55f991;
	font-family: 'Inter';
	font-size: 16px;
	font-weight: 500;
	line-height: 32px;
	text-align: center;
	word-break: break-all;
}

@media screen and (max-width: 500px) {
	body {
		padding: 1.5rem;
	}

	.wrapper {
		padding: 4rem 1.5em;
	}
}
@media screen and (max-width: 455px) {
	body {
		padding: 0;
	}

	h1 {
		font-size: 32px;
	}
	.text_sub_header {
		font-size: 18px;
	}
}
